log.txt
tmp
cd
dd
cp.sh
mspdb140.dll
.vscode
.ipynb_checkpoints
mywallet.wallet
MANIFEST
.DS_Store
*.egg-info
.settings
__pycache__
.cproject
.project
.pydevproject
_cmake_test_compile
hello_cython.egg-info
_skbuild
dist
data-dir
logfile.log
test.wallet
