[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/learnforpractice/fc
	branch = pyeoskit
[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/learnforpractice/chainbase
[submodule "cmake/polly"]
	path = cmake/polly
	url = https://github.com/learnforpractice/polly
